@model ABCD_OnlineMall.Models.Brand

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminIndex.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Brand</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Brand</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="BrandId" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="BrandName">Brand Name</label>
                                    <input asp-for="BrandName" class="form-control" placeholder="Enter Brand name" required>
                                    <span asp-validation-for="BrandName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BrandUrl">Brand Url</label>
                                    <input asp-for="BrandUrl" class="form-control" placeholder="Enter Brand name" required>
                                    <span asp-validation-for="BrandUrl" class="text-danger"></span>
                                </div>
                                <input value="@Model.StoreId" name="storeid" hidden>
                                <div class="form-group">
                                    <label asp-for="ImageName"></label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <img src="@Url.Content("~/"+Model.ImageName)" width="90" height="100" alt="Images" />
                                            <input type="file" asp-for="ImageFile" class="custom-file-input" required>
                                            <label class="custom-file-label" asp-for="ImageName">Image Name</label>
                                            <span asp-validation-for="ImageName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" hidden>
                                    <label asp-for="StoreId" class="control-label"></label>
                                    <select asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                                    <span asp-validation-for="StoreId" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


