
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section homejs{
    <script src="~/client/js/home.js"></script>
}
@section homecss{
    <link href="~/client/css/home.css" rel="stylesheet" />
}
<div class="container">
    <main role="main" class="pb-3">
        <section class="back-ground-img" style="background-image: url(../../../client/img/backround.jpg)">
            <div class="blur">
                <div class="slogan-in-backround">
                    <span class="slogan-in-backround__slogan">Transforming shopping into an experience.</span>
                    <span class="slogan-in-backround__text">ABCD Mall. Where you have it all!</span>
                </div>
                <div class="time">
                    <div class="time-item">
                        <div class="time-item-child">
                            <span class="time-item-child-number"></span>
                            <span class="time-item-child-text">DAYS</span>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="time-item-child">
                            <span class="time-item-child-number"></span>
                            <span class="time-item-child-text">HOURS</span>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="time-item-child">
                            <span class="time-item-child-number"></span>
                            <span class="time-item-child-text">MINUTES</span>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="time-item-child">
                            <span class="time-item-child-number"></span>
                            <span class="time-item-child-text">SECONDS</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>


<!-- Introduce / Time open -->
<div class="home">
    <div class="home-wrapper" style="font-size: 70%;">
        <h2 style="font-size: 300%;color: black; margin: 10px;">Contact Details</h2>
        <div class="grid">


            <div class="col-6" style="font-size: 200%;max-width: 550px; margin-left: 70px; margin-right: 15px;">

                <p style="margin-bottom: 20px;">
                    ABCD.mall
                </p>
                <p style="margin-bottom: 20px;">
                    No.580, August Revolution Street, Ward 11, District 3, Ho Chi Minh City
                </p>
                <p style="margin-bottom: 20px;">
                    ABCD.Mall of India is the largest mall in India with a retail space
                    of 2 million square feet (GLA). Strategically divided into 5 zones that are spread over 5 floors
                    it is resplendent with fabulous fashion stores, delectable dining options and energizing
                    entertainment arenas. It houses 200 brands that include 100Fashion brands, along with 30 Food
                    &amp; Beverages options, and countless entertainment activities. Not only does it deliver a
                    rewarding shopping exposure, but also an exhilarating entertainment and a sensational dining
                    experience like never-before, making it the first Destination Mall of the Country.
                </p>
                <p style="margin-bottom: 20px;">Telephone:<span>0989898989</span></p>
                <p style="margin-bottom: 20px;">Email:<span>FptAptech@gmail.com.vn</span></p>
            </div>

            <div class="grid"
                 style=" padding-right: 30px; font-size: 200%;max-width: 600px; float: left; border-left:solid;border-color: dimgrey;  padding: 25px;">
                <div class="col-8">
                    <h3 style="margin-bottom: 15px;">For Leasing</h3>
                    <p style="margin-bottom: 15px;">Name: Phat Nguyen</p>
                    <p style="margin-bottom: 15px;">Email: phatnguyen@gmail.com</p>
                    <img src="~/images/chinh.jpg" width="240px" height="240px">
                </div>
                <div class="col-8">
                    <h3 style="margin-bottom: 15px;">For Marketing</h3>
                    <p style="margin-bottom: 15px;">Name: Chuan Hoang</p>
                    <p style="margin-bottom: 15px;">Email: hoangchuan@gmail.com</p>
                    <img src="~/images/chuan.jpg" width="240px" height="240px">

                </div>

            </div>

        </div>
    </div>
    <div style="text-align: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3192813592327!2d106.66408561428717!3d10.786840061952285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech%20Computer%20Education%20HCM!5e0!3m2!1svi!2s!4v1616000627211!5m2!1svi!2s"
                width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>
</div>